/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}
 
.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}
 
.left {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;
    left: 0;
}

.right {
    background-color: rgb(44, 44, 44);
    z-index: 1;
    right: 0;
    width: 50vw;
}

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Handle. */
#split_handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 25%;
    z-index: 3;
    cursor: ew-resize;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }